*{
    padding: 0;
    margin: 0;
}

body{
   
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 100px;
}

/*................................................................*/
.top-hader{
    background-color: #3d5f00;
}


.top-hader .container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.top-hader .main-column{
    display: flex;
    align-items: center;
}


.top-hader .flex-colam1{
 width: 22%;
}

    
.top-hader .flex-colam2{
   
    width: 50%;
    text-align: center;
}

    
.top-hader .flex-colam3{
   width: 22%; 
}

.top-hader .sub-flex{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.top-hader img{
    width: auto;
}
.top-hader input{

    width: 100%;
    border: none;
    height: 40px;
    padding-left: 15px;
    font-size: 20px;
   
    background-color: #3d5f00;
    z-index: 1;

}
.top-hader input:focus{
    outline: none;
}


.top-hader .inputs input{

    border-bottom:2px solid #fff ;
   
}
    


.top-hader .serch input{
    margin-top: 2px;
    border-bottom:2px solid #fff ;
}

.top-hader .serch{
    position: relative;
}


.top-hader .serch::after{

    content: '';
    position: absolute;
    background: url(./img/serch.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    top: 50%;
   right: 0;
    transform: translate(-50%, -50%);
}

.top-hader ::placeholder{
    padding-left: 15px;
    font-size: 20px;
    color: #fff;
}


.top-hader h2{
    font-size: 25px;
    font-weight: 400;
    color: white;

}

.top-hader span{
    margin: 0 10px;
}



.top-hader .flex-colam3{
    position: relative;
}
    

.top-hader .flex-colam3::after{
    position:absolute;
    content: '\f004';
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-family: fontawesome;
    color: white;
    font-size: 30px;
}
    

.top-hader .flex-colam3::before{
    position:absolute;
    content: '\f07a';
    font-family: fontawesome;
    top: 50%;
    right: -25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}




/*mian-hader,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/





    .main-hader .container{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
     }

   
     .main-hader ul{
        list-style: none;
     }
    

     .main-hader li{
        display: inline-block;
        margin-left: 40px;
     }

     .main-hader a{
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: #718a44;
     }




     /*.....................................................................*/

   
        
       
    
    

     .food-section img{

       width: 100%;
       background-repeat: no-repeat;
     }


  
 
  .food-section .flex-colam{
    width: 40%;
    position: absolute;
    top: 50%;
   
  }
  .food-section .flex-colam1{
    width: 60%;
  }



  .food-section h2{
    font-size: 66px;
    font-weight: 800;
    color: #3d5f00;
  }

  
  .food-section h3{
    font-size: 45px;
    font-weight: 500;
    color: #3d5f00;
    position: relative;
  }
  /* .food-section h3::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 314px;
    background-color: #3d5f00;
    bottom: -30%;
    left: 0;
} */

  
.food-section p {
	font-size: 21px;
	font-weight: 400;
	color: #3d5f00;
	font-family: 'Roboto', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 27px;
}

  .food-section input{
     width: 90%;
     height: 59px;
     background-color: #3d5f00;
     border-radius: 30px 0 30px 0;
  }


  .food-section .sub-flex2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  .food-section h4{
     padding: 20px 0;
     background-color: #3d5f00;
     margin-right: 20px;
     padding-left: 40px;
     border-radius: 30px 0 30px 0;
    text-transform: uppercase;
    color: white;
  }

  .food-section .serch{
        color: white;
        margin-top: 3px;
        position: relative;
      

       
  }


  .food-section .serch::after{

    content: '\f177';
    position: absolute;
    font-family: fontawesome;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .food-section input:focus{
    outline: none;
  }

  .food-section ::placeholder{
    padding-top: 10px;
    
  }


  /*about section.........................................................................*/


  .about-section .colam img{
    width: 100%;
    display: block;
  }

  .about-section .colam2 img{
     width: auto;
  }
  .about-section .container{
    padding-top: 150px;
  }
 
  .about-section .top-hader2{
    text-align: center;
  }
  
  .about-section{
    position: relative;
  }
 
  .about-section .top-hader2 h2{
    font-size: 100px;
    font-weight: 700;
    opacity: .2;
    text-transform: uppercase;
    position: relative;
  }

  .about-section .top-main-colam h3 {
    position: absolute;
    top: 170px;
    left: 42%;
}

.about-section .top-hader2 p{

    font-size: 25px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #3d5f00;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
}
  
  .about-section .main-colam{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
  }


  .about-section  h2{
    font-size: 40px;
    font-weight: 500;
    color: #3d5f00;
    font-family: 'Roboto', sans-serif;
    line-height: 44px;
    margin-top: 31px;
   
  }

  .about-section  h3 {
    font-size: 50px;
    font-weight: 700;
    color: #3d5f00;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
  
.about-section .flex-colam p {
  font-size: 17px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  margin-top: 6px;
  margin-bottom: 12px;
  line-height: 25px;
  line-height: 27px;
}

  .about-section  input{
     width: 90%;
     height: 70px;
     background-color: #3d5f00;
     border-radius: 30px 0 30px 0;
  }


  .about-section  .sub-flex2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    width: 250px;
  }

  .about-section input {
    width: 100%;
    border: none;
    height: 60px;
    background-color: #3d5f00;
    margin-top: 5px;
    border-radius: 23px 0 23px 0;
  }
  .about-section .arow{
    position: relative;
  }
  
  .about-section .arow::after{
    position: absolute;
    content: '\f177';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: fontawesome;
    color: white;
    font-size: 15px;
  }
  
  .about-section input :first{
    outline: none;
   
  }
  
  .about-section .main-flex-colam h4 {
    background-color: #3d5f00;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3px;
    padding-left: 29px;
    border-radius: 23px 0 23px 0;
  }
  
  .about-section .main-flex-colam{
    width: 250px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 30px;
  }


  .about-section .colam-2{
    position: relative;
    margin-top: 20px;
  }

  .about-section .colam2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }


/* 
  .about-section .colam-2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: orange;
    top: 0;
    left: 0;
    opacity: .5;
  } */
  /* .about-section .colam-2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border: 17px solid #ffffff;
    top: -17px;
    left: -16px;
   
} */
.about-section .backside {
 
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    background-color: #3d5f00;
    top: -6.5%;
    left: -6%;
    z-index: -1;
    display: block;
}





/*about-tow-section........................................................................................................*/









.about-tow-section .colam img{
  width: 100%;
  display: block;
}

.about-tow-section .colam2 img{
   width: auto;
}
.about-tow-section .container{
  padding-top: 150px;
}


.about-section{
  position: relative;
}
.about-tow-section .top-hader2 h2{
  font-size: 100px;
  font-weight: 700;
  opacity: .2;
  text-transform: uppercase;
}

.about-tow-section .top-main-colam h3 {
  position: absolute;
  top: 170px;
  left: 42%;
}



.about-tow-section h2{
  color: #3d5f00;
  font-size: 45px;
  margin-top: 30px;
}

.about-section .flex-colam p {
  font-size: 21px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  margin-top: 27px;
  margin-bottom: 29px;
  line-height: 25px;
  line-height: 27px;
}
.about-tow-section .main-colam{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
}




.about-tow-section .flex-colam p{
  
    font-size: 21px;
    font-weight: 400;
    color: #3d5f00;
    font-family: 'Roboto', sans-serif;
    margin-top: 27px;
    margin-bottom: 29px;
    line-height: 25px;
    line-height: 27px;
}


.about-tow-section input {
  width: 100%;
  border: none;
  height: 60px;
  background-color: #3d5f00;
  margin-top: 5px;
  border-radius: 23px 0 23px 0;
}
.about-tow-section .arow{
  position: relative;
}

.about-tow-section .arow::after{
  position: absolute;
  content: '\f177';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fontawesome;
  color: white;
  font-size: 15px;
}

.about-tow-section input :first{
  outline: none;
 
}

.about-tow-section .main-flex-colam h4 {
  background-color: #3d5f00;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 3px;
  padding-left: 29px;
  border-radius: 23px 0 23px 0;
}

.about-tow-section .main-flex-colam{
  width: 250px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  column-gap: 30px;
}



.about-tow-section .colam-2{
  position: relative;
  margin-top: 20px;
}

.about-tow-section .colam2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.about-tow-section .colam-2::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: orange;
  top: 0;
  left: 0;
  opacity: .5;
}
/* .about-tow-section .colam-2::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 17px solid #ffffff;
  top: -17px;
  left: -16px;
 
} */
.about-tow-section .backside {
  position: absolute;
  content: '';
  height: 200px;
  width: 200px;
  background-color: #3d5f00;
  top: -6.5%;
  left: -6%;
  z-index: -1;
  display: block;
}

/*servicse.......................................................................*/


.scrvices{
  margin-bottom: 100px;
}


.scrvices span{
  margin-left: 215px;
}
.scrvices {
  position: relative;
}
.scrvices   h2{
  font-size: 100px;
  opacity: .3;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.scrvices .top-hader2{
      
  margin-top: 120px;
  text-align: center;
}


.scrvices h1{
  font-size: 0px;
  font-weight: 500;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;

}
.scrvices  .top-main-colam p {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #3d5f00;
  line-height: 28px;
  margin-bottom: 75px;
}

.scrvices .top-main-colam h3 {
  position: absolute;
  top: 4%;
  left: 42%;
  text-transform: uppercase;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}
.scrvices img{
  width: 100%;
}


.scrvices .flex-colam{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 65px;
  margin-top: 43px;
 
}

.scrvices .flex-colam h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #3d5f00;
  line-height: 41px;
}


.scrvices .flex-colam p{

  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #577422;
  margin-top: 15px;
  margin-bottom: 30px;
}


.scrvices a {
  text-decoration: none;
  background-color: #3d5f00;
  padding: 14px 37px;
  color: white;
  border-radius: 20px 0 22px 0;
}






/*sale saection.......................................................................................................*/



.sale-section{
        
  position: relative;
  
}


.sale-section img{

 width: 100%;
 background-repeat: no-repeat;
}

.sale-section .container{
  padding-top: 50px;
  padding-bottom: 50px;
}



.sale-section .flex-colam{
width: 40%;
position: absolute;
top: 10%;


}
.sale-section .flex-colam1{
width: 60%;
}


.sale-section h1 {
  font-size: 30px;
  font-weight: 500;
  color: #3d5f00;
  margin-bottom: 5px;
}
  
.sale-section h2{
font-size: 42px;
font-weight: 700;
color: #3d5f00;
font-family: 'Roboto', sans-serif;
}

.sale-section h3 {
  font-size: 28px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

.sale-section p {
  font-size: 22px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  margin-top: 14px;
  margin-bottom: 31px;
  line-height: 31px;
}

.sale-section input{
width: 90%;
height: 59px;
background-color: #3d5f00;
border-radius: 30px 0 30px 0;
}


.sale-section .sub-flex2{
display: grid;
grid-template-columns: 2fr 1fr;
align-items: center;
}

.sale-section h4{
padding: 20px 0;
background-color: #3d5f00;
margin-right: 20px;
padding-left: 40px;
border-radius: 30px 0 30px 0;
text-transform: uppercase;
color: white;
}

.sale-section .serch{
  color: white;
  margin-top: 3px;
  position: relative;


 
}


.sale-section .serch::after{

content: '\f177';
position: absolute;
font-family: fontawesome;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.sale-sectioninput:focus{
outline: none;
}

.sale-section ::placeholder{
padding-top: 10px;

}



/*pricign-section.............................................................................*/

.pricign-section .hader{
  text-align: center;
  background-color: none;
}

.pricign-section h1{
  font-size: 100px;
  font-weight: 700;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  opacity: .3;
  position: relative;
}


.pricign-section h2 {
  font-size: 51px;
  font-weight: 700;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
 
}

.pricign-section .flex-coalm000{
  position: relative;
}

.pricign-section span {
	position: absolute;
	top: 17%;
	left: 42%;
}

.pricign-section p{
  font-size: 25px;
  font-weight: 400;
  color: #567719;
  font-family: 'Roboto', sans-serif;
  
}

.pricign-section .main-colam{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  text-align: center;
}





.pricign-section .flex-colam{
  background-color: #4c7507;
  padding:60px 0;
  margin-top: 50px;
}

.pricign-section .flex-colam h2{
  color: white;
  font-size: 41px;
  font-weight: 400;
}

.pricign-section .flex-colam h3{
  color: white;
  font-size: 55px;
  font-weight: 700;
}
.pricign-section .flex-colam p{
  color: white;
}
.pricign-section .flex-colam2 p{
  font-size: 29px;
  font-weight: 400;
  color: #3d5f00;
  margin-top: 10px;

}

.pricign-section .flex-colam2 p:first-child{
  margin-top: 40px;
}

.pricign-section .flex-colam2 .buy{
  margin-top: 40px;
}



.pricign-section .flex-colam2 a{
  background-color:#4c7507;
  padding: 10px 20px;
  border-radius: 20px 0 20px 0;
  margin-bottom: 100px;
  text-decoration: none;
  color: white;
}





/*sale saection2222222222222222.......................................................................................................*/



.sale-section22{
   margin-top: 100px;     
  position: relative;
  
}

.sale-section22 .main-colam {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    text-align: right;
    top: 8%;
    column-gap: 270px;
}


.sale-section22 img{

 width: 100%;
 background-repeat: no-repeat;
}





.sale-section22 h1 {
  font-size: 30px;
  font-weight: 500;
  color: #3d5f00;
  margin-bottom: 5px;
}
  
.sale-section22 h2{
font-size: 42px;
font-weight: 700;
color: #3d5f00;
font-family: 'Roboto', sans-serif;
}

.sale-section22 h3{
  font-size: 28px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
}

.sale-section22 p{
  font-size: 22px;
  font-weight: 400;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  margin-top: 14px;
  margin-bottom: 31px;
  line-height: 31px;
}



.sale-section22 .serch{
  color: white;
  margin-top: 3px;
  position: relative;


 
}

.sale-section22  .flex-colam a{
  background-color:#4c7507;
  padding: 10px 20px;
  border-radius: 20px 0 20px 0;
  margin-bottom: 100px;
  text-decoration: none;
  color: white;
}




/*pricign-section.............................................................................*/


.blog-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.blog-section  .hader{
  text-align: center;
  background-color: none;
}

.blog-section h1{
  font-size: 100px;
  font-weight: 700;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  opacity: .3;
  position: relative;
  margin-top: 30px;
}


.blog-section  h2 {
  font-size: 51px;
  font-weight: 700;
  color: #3d5f00;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
 
}

.blog-section  .flex-coalm000{
  position: relative;
}

.blog-section  span {
	position: absolute;
	top: 17%;
	left: 42%;
}

.blog-section  p{
  font-size: 25px;
  font-weight: 400;
  color: #567719;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  
}

.blog-section  .main-colam{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-top: 120px;
  
}





.blog-section .flex-colam{
  background-color: #f1f1f1;
 
}
.blog-section .flex-colam h2 {
  color: #567719;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
}
.blog-section .flex-colam p{
  color: #567719;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
 
}

.blog-section  .flex-colam1 img{
 width: 100%;
}
.blog-section  .flex-colam{
padding: 25px 15px;
}


.blog-section .flex-colam1 .buy{
  margin-top: 30px;
  
 
}


.blog-section  a{
  background-color:#4c7507;
  padding: 10px 20px;
  border-radius: 20px 0 20px 0;
  margin-bottom: 100px;
  text-decoration: none;
  color: white;
}



/*futter section ........................................................*/


.futter-section .container{
  background-color: #3d5f00;
  padding-top: 50px;
  padding-bottom: 50px;
}

.futter-section  h2 {
  font-size: 41px;
  font-weight: 700;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
}

.futter-section  h3{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  
}


.futter-section a{
  color: black;
  text-decoration: none;
 
}
.futter-section .buttons {
  background-color: #fff;
  padding: 14px 9px 7px 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.futter-section i{
 
  margin-bottom: 30px;
  font-size: 25px;
 
 

}

.futter-section .youtube{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.futter-section .hights{
  margin-top: 80%;
  text-align: left;
}

.futter-section .flex-colam11{
  text-align: right;
}

.futter-section .main-colam{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  text-align: center;
}
